*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 0.4px;
}

body{
    background-color: rgb(132, 184, 229);
    background: linear-gradient(rgb(236, 5, 206), rgb(109, 31, 99)), rgb(235, 186, 228) fixed;
    background-size: 100% 50%;
    background-repeat: no-repeat;
}

.container{
    background-color: #c1f5f7;
    width: 450px;
    padding: 50px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    top:50%;
    left:50%;
    box-shadow: 0  30px 50px rgba(0, 0, 0, 0.1);
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px 0;
}

.lbl{
    font-size: 16px;
    color: rgb(255, 127, 155);
    font-weight: 400;
}

.val{
    color:rgb(223, 70, 134);
    font-weight: 500;
    font-size: 18px;
}

.input-box{
    background-color: rgb(60, 204, 204);
    color: blueviolet;
    padding: 5px;
}

#bill{
    background-color: transparent;
    border: none;
    outline: none;
    width: 100px;
    text-align: right;
    color: blueviolet;

}

hr{
    border: none;
    border-bottom: 1px solid rgb(146, 78, 209);
}

input[type="range"]{
    width: 100%;
    cursor: pointer;
}

input[type="range"]:not(:nth-last-child){
    margin-top: 5px;

}

section:not(:last-child){
    margin-bottom: 40px;
}

section:not(:first-child){
    margin-top: 40px;
}

section:last-child{
    background-color: cadetblue;
    padding: 10px;
    border-radius: 5px;
}

section:last-child .val,
section:last-child .lbl{
    color: rgb(44, 204, 209);
}

